{% extends "layout.html" %}
{% block title %} All chai {% endblock title %}

{% block content %}
<h1 class="m-4">Hello from chai app</h1>
<div class="grid grid-cols-4 gap-5 m-5">
    {% for chai in chais %}
   <div class="bg-gray-500 p-5">
    <img class=" h-48" src="{{chai.image.url}}" alt="">
    <p class="my-2 font-bold text-2xl">{{chai.name}}</p>
    <p>{{chai.date_added}}</p>
    <a href="{% url 'chai_details' chai.id %}"><button class="p-2 bg-white text-black mt-3 rounded font-bold text-xl">Click here!</button></a>
   </div>
{% endfor %}
</div>
 
{% endblock content %}

